


<h1>Budget Stream</h1>
1.21

<app-user-profile></app-user-profile>

<hr/>
<main>
    <button id="nofityPermissions" (click)="requestNotificationPermissions()">Enable Notifications</button><br/>
    <button id="nofitySubscribe" (click)="subscribe()">Subscribe for Push Notifications</button><br/>
    <button id="nofitySubscribe" (click)="subscribeNotificationHandlers()">Register notification handlers</button><br/>
    <div>
        <textarea rows="20" cols="60" #notificationBody>
            {
                "notification": {
                    "title": "New Notification!",
                    "data": {
                        "onActionClick": {
                            "default": {"operation": "focusLastFocusedOrOpen"}
                        }
                    }
                }
            }
        </textarea><br/>
        <button (click)="sendNotifications()">Notify Subscribers</button>
    </div>
</main>

<hr/>
<div>
    <app-plaid-link></app-plaid-link>
</div>


<router-outlet></router-outlet>
